@charset "UTF-8";

body{
	margin: 0;
}
body div#conBg {
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:fixed;
	background-color:rgb(120,120,120);
	background-image:url('../images/bg_m.jpg');
	background-repeat:repeat-x;
	/* background-attachment: fixed; */
	background-size: auto 220vh;
}
a {
	text-decoration: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
div.con_main_wrap div.logo_wrap{
	position: absolute;
	top: 10vh;
    left: 20px;
}
div.con_main_wrap div.logo_wrap h1{
	font-size: 0;
	width: 64px;
    height: 32px;
    display: block;
    background: url(../images/logo.svg) no-repeat;
}
div.con_main_wrap div.logo_wrap h1 a{
	background: url(../images/main_title.png);
    background-repeat: no-repeat;
    top: 70px;
    left: -5px;
    z-index: 9;
    width: 34px;
    height: 302px;
    position: absolute;
    font-size: 0;
}
div.con_main_wrap div.btn_wrap{
	position: absolute;
	left: 50%;
	top: 100vh;
	width: 100%;
	height: 50px;
	transform: translate(-50%, -50%);
	z-index: 2;
}
div.con_main_wrap div.btn_wrap a{}
div.con_main_wrap div.btn_wrap a.btn_video{
	position: absolute;
	background: url(../images/mb/btn_video.svg) no-repeat;
	width: 50px;
	height: 50px;
	font-size: 0;
	left: 20px;
	cursor: pointer;
}
div.con_main_wrap div.btn_wrap a.btn_buy{
	position: absolute;
	width: 140px;
	height: 40px;
	font-size: 18px;
	right: 20px;
	background: #CF0A2C;
	border-radius: 174px;
	text-decoration: none;
	color: white;
	text-align: center;
	padding-top: 10px;
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-weight: 500;
	z-index: 999;
}
div.artcl_item p.con_sub1{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 42px;
	text-transform: uppercase;
	/* width: 306px;
	height: 198px; */
	line-height: 42px;
	margin: 0 auto;
}
div.artcl_item h2.con_main{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 154px;
	font-weight: 400;
	line-height: 34vw;
	letter-spacing: -6px;
	color: #CF0A2C;
	margin: 0;
	text-transform: uppercase;
	/* width: 650px;
	height: 300px; */
}
div.artcl_item p.con_sub2{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 2.6vw;
	margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 8px;
}
div.artcl_item p.con_btm{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	padding-left: 30px;
}
div#artclItem0::after{
	content: "";
	display: block;
	position: absolute;	
	
	background: url("../images/main_shadow.png");
}
div.con_main_wrap::before{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 0;
	opacity: 0.3;
	background-image: url("../images/main_top.png");
	pointer-events: none;
}
div.con_main_wrap::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 50%;
	z-index: 1;
	bottom: 0;
	background-image: url("../images/fog.png");
	pointer-events: none;
}

div.navi_wrap{}
div.navi_wrap ul{
	right: 20px;
    position: absolute;
    top: 38vh;
    list-style: none;
    z-index:998;
}
div.navi_wrap ul li.navi_no{
	width: 20px;
    height: 20px;
    transition: all 1s;
    position:relative;
}

div.vr_wrap .descrs {
    top: -50px !important;
}
div.navi_wrap ul li.navi_no._curr{
	height:48px; 
}
div.navi_wrap ul li.navi_no a,
div.navi_wrap ul li.navi_no a:active,
div.navi_wrap ul li.navi_no a:focus,
div.navi_wrap ul li.navi_no a:hover {
	font-size: 0;
	cursor: pointer;
	display:inline-block;
	width:100%;
	height:100%;
	padding:5px;
	box-sizing:border-box;
}

div.navi_wrap ul li.navi_no a::after {
	content:"";
	display:inline-block;
	width:10px;
	height:calc(100% - 0px);
    background-color: black;
    border-radius: 20px;
}

div.main_nm_wrap{
	position: absolute;
	top: 10vh;
	right: 20px;
	/* opacity: 0;
    transition: opacity 1s; */
}
div.main_nm_wrap p.con_sub1{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 14px;
	margin: 0 auto;
	text-align: justify;
	letter-spacing: 5px;
	font-weight: 900;
}
div.main_nm_wrap p.con_main{
	font-family: 'League Gothic', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 7vw;
	line-height: 4vw;
	color: #CF0A2C;
	margin: 0;
	text-transform: uppercase;
}
body._page_no_1 div.main_nm_wrap,
body._page_no_2 div.main_nm_wrap,
body._page_no_3 div.main_nm_wrap,
body._page_no_4 div.main_nm_wrap,
body._page_no_5 div.main_nm_wrap,
body._page_no_6 div.main_nm_wrap,
body._page_no_7 div.main_nm_wrap{
	opacity: 1;
}

div.video_wrap{
	position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100vh;
    top: 50px;
    z-index: 999;
    transition: top .5s ease-in-out;
}
div.video_wrap video{
	width: 100%;
	height: 100%;
}
/* div.video_wrap::after{
	content: "";
    display: block;
    width: 50px;
    height: 50px;
    top: 1vw;
    border-radius: 50px;
    position: absolute;
    right: 1vw;
    z-index: 999;
    background: url("../images/video_off_w.svg") no-repeat;
    cursor: pointer;
} */
div.video_wrap a.video_off{
    display: block;
    width: 50px;
    height: 50px;
    top: 1vw;
    border-radius: 50px;
    position: absolute;
    right: 1vw;
    z-index: 999;
    background: url("../images/video_off_w.svg") no-repeat;
    cursor: pointer;
    font-size: 0;
}
div.video_wrap._video_hide_{
	text-align: center;
	top: -100vh;
    transition: top .8s ease;
}
body._page_no_0 div.item_shadow{
	display: block;
    top: 82%;
    position: absolute;
    right: 0;
    z-index: 999;
    background: url(../images/main_shadow.png) no-repeat;
    width: 50%;
    height: 12%;
    opacity: 1;
}