@charset "UTF-8";

html{}
body{
	margin: 0;
	overscroll-behavior: auto none;
	-webkit-overflow-scrolling: touch;
	overflow-x:hidden;
}
::-webkit-scrollbar { display: none !important; }
h1{
	margin: 0;
}
a:link,
a:visited,
a:hover{
	text-decoration: none;
	-webkit-appearance: none;
}
._device_desktop .view_template_contents.vr_pos_0 div#conBg {
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:absolute;
	background-color:rgb(225,225,225);
	background-image:url('../images/bg_original.jpg');
	background-repeat:repeat-x;
	background-size: 100% 220vh;
	/* -webkit-background-size: auto 220vh; */
	opacity: 1;
	visibility: visible;
}
._device_desktop .view_template_contents div.bg_area{
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:absolute;
	background-color:rgb(225,225,225);
	background-image:url('../images/bg_original.jpg');
	background-repeat:repeat-x;
	background-size: 100% 220vh;
	/* -webkit-background-size: auto 220vh; */
	opacity: 0;
	transition: all 0.6s;
}
div.con_main_wrap div.logo_wrap{
	position: absolute;
	top: 40px;
    left: 40px;
}
div.con_main_wrap div.logo_wrap h1{
	width: 70px;
    height: 77px;
    display: block;
    background: url(../images/dt_logo.svg) no-repeat;
}
div.con_main_wrap div.logo_wrap h1 a{
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
div.con_main_wrap div.btn_wrap{
	position: absolute;
	/* left: calc((100% - 136px)/2); */
	top: 91vh;
	width: 100%;
	height: 56px;
	/* transform: translate(-50%, -50%); */
	z-index: 99;
	/* text-align: center; */
}
div.con_main_wrap div.btn_wrap a{}
div.con_main_wrap div.btn_wrap a.btn_video{
	position: absolute;
    background: url(../images/btn_video.png) no-repeat;
    width: 80px;
    height: 80px;
    font-size: 0;
    left: 40px;
    cursor: pointer;
}
div#artclItem0 a.area_scroll{
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 100px;
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	line-height: 4;
	left: calc(50% - 100px/2);
	top: 77vh;
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 20px;
	font-weight: 100;
	opacity: 1;
	transition: opacity 0.6s;
}

div#artclItem0 a.area_scroll img{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 29%;
	bottom: 12px;
}

div.con_main_wrap div.btn_wrap a.btn_buy{
	position: absolute;
	width: 136px;
	height: 42px;
	font-size: 18px;
	left: calc((100% - 136px)/2);
	background: rgba(0,0,0,0.7);
	border-radius: 174px;
	text-decoration: none;
	color: white;
	text-align: center;
	padding-top: 14px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	z-index: 999;
}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 p.con_sub1{
	font-size: 8vw;
	line-height: 6.5vw;
}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 h2.con_main{
	font-size: 30vw;
	line-height: 25vw;
}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 p.con_sub2{
	opacity: 0;
}

div.artcl_item p.con_sub1{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 2vw;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 3.5vw;
	margin: 0 auto;
	top: 10vh;
	position: absolute;
	text-align: center;
	width: 100%;
}
div.artcl_item h2.main_nm{
	font-size: 0;
	background: url("../images/airlock.svg") no-repeat;
	margin: 0;
	text-transform: uppercase;
	width: 660px;
	height: 101px;
	left: calc((100% - 660px)/2);
	margin: 0 auto;
	top: 19vh;
	position: absolute;
}

div.artcl_item p.con_btm{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-align: justify;
	letter-spacing: 2px;
	line-height: 26px;
}
._device_mobile .view_template_contents div.con_main div.con_main_wrap::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 32%;
	z-index: 1;
	bottom: 0;
	background-image: url("../images/fog.png");
	pointer-events: none;
}

div.navi_wrap{}
div#artclItem0 a.area_click{
	position: absolute;
	left: calc((100% - (100vw - 40px))/2);
	top: calc((100vh - 136px)/2);
	width: 121px;
	height: 66px;
	background: rgba(141,141,141,0.8);
	border-radius: 150px;
	text-align: right;
	padding-right: 35px;
	line-height: 66px;
	color: white;
	font-size: 20px;
	font-weight: 100;
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	opacity: 1;
	transition: opacity 0.6s;
}

div#artclItem0 a.area_click span.click_circle{
	display:inline-block;
	width:22px;
	height:22px;
	top: 24px;
	right: 15px;
	background-color: rgb(255,255,255);
	border-radius: 22px;
	font-size: 0;
	position: absolute;
}
div.navi_wrap ul{
	left: 40px;
	position: absolute;
	top: calc((100vh - 210px)/2);
	list-style: none;
	z-index: 90;
	margin: 0;
	padding: 0;
}
div.navi_wrap ul li.navi_no{
	width: 30px;
	height: 30px;
	position:relative;
	border-radius: 20px;
	background-color: rgb(255,186,177);
	margin-top: 12px;
	opacity: 0.98;
	transition: all 1s;
	transition-timing-function: ease-in-out;
	
}
div.navi_wrap ul li.navi_no._curr{
	background-color: rgba(237,83,62,0.9);
    box-sizing: border-box;
    opacity: 0.99;
    /* transition: background-color 1s; */
}
div.navi_wrap ul li.navi_no._curr a,
div.navi_wrap ul li.navi_no._curr a:active,
div.navi_wrap ul li.navi_no._curr a:focus,
div.navi_wrap ul li.navi_no._curr a:hover{
	color: #000;
}
div.navi_wrap ul li.navi_no a,
div.navi_wrap ul li.navi_no a:active,
div.navi_wrap ul li.navi_no a:focus,
div.navi_wrap ul li.navi_no a:hover {
	font-size: 12px;
	color: rgb(255,255,255);
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* div.navi_wrap ul li.navi_no a::after {
	content:"";
	display:inline-block;
	width:15px;
	height:calc(100% - 0px);
	background-color: rgb(90,90,90);
	border-radius: 20px;
} */

div.main_nm_wrap{
	position: absolute;
	top: 40px;
    right: 40px;
    opacity: 0;
    transition: opacity 1s;
}
div.main_nm_wrap p.con_sub1{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 2.3vw;
	text-transform: uppercase;
	line-height: 3.5vw;
	margin: 0 auto;
	text-align: center;
}
div.main_nm_wrap p.main_nm{
	font-size: 0;
	margin: 0;
	background: url("../images/airlock_top.svg") no-repeat;
	width: 230px;
	height: 34px;
	position: relative;
}
body._page_no_1 div.main_nm_wrap,
body._page_no_2 div.main_nm_wrap,
body._page_no_3 div.main_nm_wrap,
body._page_no_4 div.main_nm_wrap,
body._page_no_5 div.main_nm_wrap,
body._page_no_6 div.main_nm_wrap,
body._page_no_7 div.main_nm_wrap{
	opacity: 1;
}

div.video_wrap{
	position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 999;
    transition: top .5s ease-in-out;
}
div.video_wrap video{
	width: 100%;
	height: 100%;
}

div.video_wrap a.video_off{
    display: block;
    width: 50px;
    height: 50px;
    top: 1vw;
    border-radius: 50px;
    position: absolute;
    right: 1vw;
    z-index: 999;
    background: url("../images/video_off_w.svg") no-repeat;
    cursor: pointer;
    font-size: 0;
}
div.video_wrap._video_hide_{
	text-align: center;
	top: -100vh;
    transition: top .8s ease;
}
._device_mobile .vr_pos_0 div.item_shadow{
	background: none;
}

#artclItem4 h4{
	font-size: 0;
	background: url("../images/airlock_opa.svg");
	width: 1129px;
	height: 167px;
	top: 37vh;
	left: 21%;
}

div.end_content{
	z-index: -1;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 40%;
	opacity: 0;
	transition: all 0.6s;
}
div.end_content img{ width: 60%;}
.vr_pos_4 div.end_content{
    z-index: -1;
	position: absolute;
	opacity: 1;
	visibility: visible;
	text-align: center;
	width: 100%;
	top: 40%;
   
}
.vr_pos_4 div#conText img{
	width: 60%
}

/* responsive css add */ 
@media screen and (max-width: 1500px){
	._device_desktop .view_template_contents div#artclItem1 {
		top: 24vh !important;
		left: 11.5% !important;
	}
	div.artcl_item p.con_btm{ font-size: 22px; letter-spacing: 0px;}
	._device_desktop .view_template_contents div#artclItem3 {
		top: 22vh !important;
		left: 11.5% !important;
	}
}
button, a, input {
	pointer-events: all !important;
}