@charset "UTF-8";

body{
	margin: 0;
}
h1{
	margin: 0;
}
::-webkit-scrollbar { display: none !important; }
a:link,
a:visited,
a:hover{
	text-decoration: none;
	-webkit-appearance: none;
}
body._page_no_0 div#conBg {
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:fixed;
	background-color:rgb(225,225,225);
	background-image:url('../images/mb/bg_original.jpg');
	background-repeat:repeat-x;
	/* background-attachment: fixed; */
	background-size: auto 220vh;
	opacity: 1;
	visibility: visible;
}
body div.bg_area{ 
	display:block;
	left:0;
	top:0;
	right:0;
	bottom:0;
	position:fixed;
	background-color:rgb(225,225,225);
	background-image:url('../images/mb/bg_original.jpg');
	background-repeat:repeat-x;
	/* background-attachment: fixed; */
	background-size: auto 220vh;
	opacity: 0;
	transition: all 0.6s;
}

div.con_main_wrap div.logo_wrap{
	position: absolute;
	top: 20px;
    left: 20px;
}
div.con_main_wrap div.logo_wrap h1{
	width: 47px;
    height: 52px;
    display: block;
    background: url(../images/mb/m_logo.svg) no-repeat;
}
div.con_main_wrap div.logo_wrap h1 a{
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
div.con_main_wrap div.btn_wrap{
	position: absolute;
    left: 50%;
    top: 94vh;
    width: 100%;
    height: 50px;
    transform: translate(-50%, -50%);
    z-index: 2;
}
div.con_main_wrap div.btn_wrap a{}
div.con_main_wrap div.btn_wrap a.btn_video{
	position: absolute;
    background: url(../images/mb/btn_video.svg) no-repeat;
    width: 50px;
    height: 50px;
    font-size: 0;
    left: 20px;
    cursor: pointer;
    z-index: 99;
}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 a.area_scroll{
	width: 77px;
	height: 77px;
	position: absolute;
	border-radius: 77px;
	background: rgba(0,0,0,0.4);
	color: white;
	text-align: center;
	line-height: 4;
	left: calc((100% - 77px)/2);
	/* bottom: 50px; */
	top: 78vh;
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 16px;
	opacity: 1;
	transition: opacity 0.6s;
}
/* div.con_main_wrap div.btn_wrap a.area_scroll{
	width: 77px;
    height: 77px;
    position: absolute;
    border-radius: 77px;
    background: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    line-height: 4;
    left: calc(50% - 77px/2);
    bottom: 50px;
    font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
    font-size: 16px;
	opacity: 0;
	transition: opacity 0.6s;
} */
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 a.area_scroll img{
	position: absolute;
	left: 18px;
	bottom: 4px;
	width: 40px;
	height: 40px;
}
/* div.con_main_wrap div.btn_wrap a.area_scroll img{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 18px;
	bottom: 4px;
	opacity: 0;
	transition: opacity 1s;
} */
div.con_main_wrap div.btn_wrap a.btn_buy{
	position: absolute;
    width: 114px;
    height: 40px;
    font-size: 18px;
    right: 20px;
    background: #000;
    border-radius: 114px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding-top: 10px;
    font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
    font-weight: 400;
    z-index: 999;
}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 p.con_sub1{
	font-size: 7vw;
	line-height: 13.5vw;
	letter-spacing: -3px;
	top: 10vh;
	position: absolute;
	width: 100%;
}

._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 p.con_sub2{
	opacity: 0;
}

div.artcl_item p.con_sub1{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 2.5vw;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 3.5vw;
	margin: 0 auto;
}
div.artcl_item h2.con_main{
	font-size: 0;
	background: url("../images/mb/m_airlock.svg") no-repeat;
	margin: 0;
	text-transform: uppercase;
	width: 287px;
	height: 44px;
	margin: 0 auto;
	top: 18vh;
	position: absolute;
	left: calc((100% - 287px)/2);
}

div.artcl_item p.con_btm{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-align: justify;
	line-height: 18px;
}
._device_mobile .view_template_contents div.con_main div.con_main_wrap::after{
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 32%;
	z-index: 1;
	bottom: 0;
	background-image: url("../images/fog.png");
	pointer-events: none;
}

div.navi_wrap{}
._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 a.area_click{
	position: absolute;
    right: 10px;
    top: calc((100vh - 106px)/2);
    width: 78px;
    height: 45px;
    background: rgba(141,141,141,0.8);
    border-radius: 150px;
    text-align: left;
    padding-left: 14px;
    line-height: 45px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
    opacity: 1;
    transition: opacity 0.6s;
}

._device_mobile .view_template_contents.vr_pos_0 div#artclItem0 a.area_click span.click_circle{
	display:inline-block;
	width:22px;
	height:22px;
	top: 24px;
	right: 15px;
	background-color: rgb(255,255,255);
	border-radius: 22px;
	font-size: 0;
	position: absolute;
}
div.navi_wrap ul{
	right: 20px;
    position: absolute;
    top: calc((100vh - 180px)/2);
    list-style: none;
    z-index: 90;
    margin: 0;
}
div.navi_wrap ul li.navi_no{
	width: 24px;
	height: 24px;
	position:relative;
	border-radius: 20px;
	font-color: rgb(255,255,255);
	background-color: rgb(255,186,177);
	margin-top: 12px;
	transition: all 1s;
	transition-timing-function: ease-in-out;
	opacity: 0.99;
}
div.navi_wrap ul li.navi_no._curr{
    width: 100%;
    height: 100%;
	background-color: rgb(237,83,62);
    box-sizing: border-box;
    transition: all 1s;
}
div.navi_wrap ul li.navi_no._curr a,
div.navi_wrap ul li.navi_no._curr a:active,
div.navi_wrap ul li.navi_no._curr a:focus,
div.navi_wrap ul li.navi_no._curr a:hover{
	color: #000;
}
div.navi_wrap ul li.navi_no a,
div.navi_wrap ul li.navi_no a:active,
div.navi_wrap ul li.navi_no a:focus,
div.navi_wrap ul li.navi_no a:hover {
	font-size: 12px;
	color: rgb(255,255,255);
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

div.main_nm_wrap{
	position: absolute;
	top: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 1s;
}
div.main_nm_wrap p.con_sub1{
	font-family: 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','Nanum Barun Gothic', sans-serif;
	font-size: 2.3vw;
	text-transform: uppercase;
	line-height: 3.5vw;
	margin: 0 auto;
	text-align: center;
}
div.main_nm_wrap p.con_main{
	font-size: 0;
	margin: 0;
	background: url("../images/mb/m_top_airlock.svg") no-repeat;
	width: 128px;
	height: 20px;
}
body._page_no_1 div.main_nm_wrap,
body._page_no_2 div.main_nm_wrap,
body._page_no_3 div.main_nm_wrap{
	opacity: 1;
}

div.video_wrap{
	position: absolute;
    background: #1c1c1c;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 999;
    transition: top .5s ease-in-out;
}
div.video_wrap video{
	width: 100%;
	height: 100%;
}

div.video_wrap a.video_off{
    display: block;
    width: 50px;
    height: 50px;
    top: 1vw;
    border-radius: 50px;
    position: absolute;
    right: 1vw;
    z-index: 999;
    background: url("../images/video_off_w.svg") no-repeat;
    cursor: pointer;
    font-size: 0;
}
div.video_wrap._video_hide_{
	text-align: center;
	top: -100vh;
    transition: top .8s ease;
}
._device_mobile .vr_pos_0 div.item_shadow{
	background: none;
}

#artclItem4 h4{
	font-size: 0;
	background: url("../images/airlock_opa.svg");
	width: 1129px;
	height: 167px;
	top: 37vh;
	left: 21%;
}

div.end_content{
	z-index: -1;
	position: absolute;
	text-align: center;
	width: 100%;
	top: 47%;
	opacity: 0;
	transition: all 0.6s;
}
.vr_pos_4 div.end_content{
    z-index: -1;
	position: absolute;
	opacity: 1;
	visibility: visible;
	text-align: center;
	width: 100%;
	top: 47%;
   
}
div.end_content img{ width: 90%;}
.vr_pos_4 div#conText img{
	width: 90%
}