body._scroll_lock {
    overflow:hidden;
}
body {
	background:rgb(120,120,120) url('../images/bg_m.jpg') repeat-x;
	background-attachment: fixed;
	background-size: auto 220vh;
}
div.vr_wrap {
    background-color:rgba(20,10,0,0.5);
    width:100%;
    margin-left:0;
    transition: all 0.5s;
    position:relative;
    left:0;
}
div.vr_wrap._mode_start {
    
}

div.con_main div.con_main_wrap {
    height: calc(100vh - 50px);
}

div.vr_wrap .con_extra,
div.vr_wrap .descrs {
    top: -50px !important;
}
div.vr_wrap._mode_start .con_extra, 
div.vr_wrap._mode_start .descrs {
    display:block;
}

div.vr_wrap._mode_start._view_desc .con_extra, 
div.vr_wrap._mode_start._view_desc .descrs {
    opacity:1;
}

div.vr_wrap .vr_area::after {
}
div.vr_wrap._mode_start .vr_area::after {
    opacity:0;
    visibility: hidden;
    transition: all 1.0s;
}
._sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 71px;
}
._sticky:before,
._sticky:after {
    content: '';
    display: table;
}
div.view_template_contents>div.con_main {
    height:calc(100vh - 71px) !important;
    /* top:50px !important; */
}
.vrism_preloader_bar_bg {
    display:none !important;
}

.view-wrap div.option-box,
.view-wrap div.option-box div.inner {
    background: transparent;
    border: 0 none;
}
.view-wrap .option-box .btn-box__buy a.btn-buy {
    display:none;
}
body._scroll_vr .view-wrap .option-box .btn-box__buy a.btn-buy {
    background:transparent;
    border: 1px solid white;
    display:block;
}
body._scroll_after .view-wrap div.option-box,
body._scroll_after .view-wrap div.option-box div.inner,
body._scroll_after .view-wrap div.option-box div.inner .btn-box,
body._scroll_vr_bottom .view-wrap div.option-box,
body._scroll_vr_bottom .view-wrap div.option-box div.inner,
body._scroll_vr_bottom .view-wrap div.option-box div.inner .btn-box {
    background: white;
}
body._scroll_after .view-wrap .option-box .btn-box__buy a.btn-buy,
body._scroll_vr_bottom .view-wrap .option-box .btn-box__buy a.btn-buy {
    background:rgb(224,0,42);;
    border: none;
    display:block;
}
body._scroll_vr a.btn-buy::after {
    content:" NOW";
    display:inline;
}
.view-wrap div.option-box div.wcb-box {
    display:none;
}
.view-wrap div.option-box.open div.wcb-box {
    display:block;
}
.view-wrap .option-box div.btn-box {
    min-height: 45px;
}